@import "reset.css";
@import "fonts.css";

:root {
  --gray: #949494;
}
body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;
}
img {
  max-width: 100%;
}


/*header*/

header {
  height: 60px;
  background: #000;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 768px) {
  header  {
    padding: 0 24px;
  }
}

/*SECTION INTRO*/

.intro {
  font-weight: 800;
  padding: 0 16px 16px 16px;
  text-align: center;
}
.intro h1 {
  font-size: 20px;
  padding: 56px 0 8px;
}
.intro h2 {
  font-size: 40px;
  padding-bottom: 40px;
}
.intro h1,
.intro h2,
.intro img {
  text-align: center;
}
.intro img {
  width: 275px;
}
.intro p {
  font-size: 20px;
  line-height: 28px;
  color: var(--gray);
  margin: 40px 0;
  text-align: left;
}
.intro em{
  color: #000;
}

@media (min-width: 768px) {
  .intro{
    padding: 0 24px 8px 24px;
  }
  .intro h1{
    font-size: 40px;
    padding: 96px 0 16px;
  }
  .intro h2 {
    font-size: 80px;
    padding-bottom: 72px;
  }
  .intro p {
    font-size: 36px;
    line-height: 48px;
    margin: 72px 0;
    text-align: left;
  }
  .intro img {
    width: 661px;
  }
}

/*SECTION PERKS*/

.perks {
  font-weight: 800;
}
.perks img {
  width:100%;
}
.perks ul{
  padding: 0 16px 80px 16px;
}
.perks li {
  color: var(--gray);
  font-size: 20px;
  line-height: 28px;
  padding: 16px 0 48px;
  border-bottom: 1px solid #E5E5E5;
}
.perks li em {
  color: #000;
  display: block;
}

@media (min-width: 768px) {
  .perks ul{
    padding: 0 24px 128px 24px;
  }
  .perks li {
    font-size: 36px;
    line-height: 48px;
    padding: 32px 0 88px;
  }
}

/*SECTION ABOUT*/

.about {
  font-weight: 800;
}
.about h2 {
  color: #000;
  font-size: 40px;
  line-height: 44px;
  padding: 0 16px;
  margin-bottom: 40px;
}
.about h2 em {
  color: var(--gray);
  display: block;
}
.about p {
  font-size: 20px;
  line-height: 28px;
  color: #000;
  padding: 24px 16px 80px 16px;
}
.about p em {
  color: var(--gray);
}
.about img {
  min-width: 100%;
}

@media (min-width: 768px){
  .about {
    font-weight: 800;
  }
  .about h2 {
    font-size: 80px;
    line-height: 96px;
    padding: 0 24px;
    margin-bottom: 80px;
  }
  .about h2 em {
    color: var(--gray);
    display: block;
  }
  .about p {
    font-size: 36px;
    line-height: 48px;
    padding: 32px 24px 128px 24px;
  }
}

/*SECTION SHOP*/

.shop {
  font-weight: 800;
}
.shop h2 {
   font-size: 40px;
   line-height: 44px;
   color: #000;
   padding: 0 16px;
   margin-bottom: 38px;
}
.shop em {
  color: var(--gray);
  display: block;
}
.shop__item {
  margin: 0 16px 24px;
  padding: 40px 24px 38px;
  border-radius: 24px;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.08);
  max-width: 348px;
}
.shop__item img {
  min-width: 100%;
}
.shop__item h3 {
  margin: 32px 0 8px;
  font-size: 18px;
  line-height: 24px;
}
.shop__item p {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: var(--gray);
  margin-bottom: 46px;
}
.shop__item a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  background-color: #1B76FF;
  border-radius: 8px;
  padding: 14px 32px;
  margin: auto;
}

@media (min-width: 768px){
  .shop h2{
    font-size: 80px;
    line-height: 96px;
  }
  .shop__item {
    display: inline-block;
    margin: 0 4px 40px 24px;
  }
  .shop__item h3 {
    margin: 24px 0 8px;
    font-size: 20px;
  }
  .shop__item p {
    font-size: 16px;
  }
}
