@import "reset.css";
@import "fonts.css";

body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;
}
